[Unit]
Description=potential-vision
After=network.target 

[Service]
Type=simple
User=potential
WorkingDirectory=/home/potential/potential-vision
ExecStart=/bin/bash start.sh
Environment="ROS_DOMAIN_ID=7"
Environment="PYTHONUNBUFFERED=1"
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
